* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    box-shadow: 0 4px 16px rgba(0, 0, 0);
    animation: borderAnimasi 2s infinite;
}

.container:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.card .profil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
}

.profil img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.card p {
    font-size: 15px;
    color: gray;
    margin-bottom: 5px;
}

.card button {
    background-color: rgb(28, 132, 218);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.card button:hover {
    background-color: rgb(110, 79, 222);
}

a {
    text-decoration: none;
    color: white;
}

@keyframes borderAnimasi {
    0% {
        border-color: #3498db;
        box-shadow: 0 0 20px 0 #3498db, inset 0 0 8px 0 #3498db33;
    }
    25% {
        border-color: #e67e22;
        box-shadow: 0 0 20px 0 #e67e22, inset 0 0 8px 0 #e67e2233;
    }
    50% {
        border-color: #e74c3c;
        box-shadow: 0 0 20px 0 #e74c3c, inset 0 0 8px 0 #e74c3c33;
    }
    75% {
        border-color: #2ecc71;
        box-shadow: 0 0 20px 0 #2ecc71, inset 0 0 8px 0 #2ecc7133;
    }
    100% {
        border-color: #3498db;
        box-shadow: 0 0 20px 0 #3498db, inset 0 0 8px 0 #3498db33;
    }
}